body{
  overflow: hidden;
}
.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}
.text-white{
  color: #fff !important;
}

.cc{
  overflow: hidden;
  height: 90vh;
}
.list{
  overflow: hidden;
  overflow-y: auto;
  height: 90vh;
}
.loan-list{
  overflow: auto;
  height: 70vh;
}
.staff-loan-list{
  overflow: auto;
  height: 80vh;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
 
  margin: 0.5rem 0;
}